= simple_form_for User.new do |f|    
  .row
    .small-7.columns.small-centered
      = f.input_field :email,  as: :email, placeholder: 'someone@example.com'
      = f.submit 'Ve pillando sitio shurman', class: 'button tiny'
           